parameters:
    level: 5 # (0 - самый мягкий, 9 - самый строгий)
    paths:
        - app   # Папка с вашим исходным кодом
        - tests # Папка с тестами (если есть)
    # excludePaths: # Можно исключить определенные пути
    #    - src/legacy/*
    # ignoreErrors: # Можно игнорировать конкретные ошибки по шаблону
